<div class="postshome">
	<div ng-repeat="post in vm.posts" class="postshome-item" ui-sref="post({id: post._id})">
		<div class="autorInfo" ui-sref='user({id:post.user._id})'  ng-click="$event.stopPropagation()">
			<img ng-src="{{post.user.img}}" class="avaOnPost">
			<p class="username" ng-bind="post.user.name" ></p>
		</div>
		<div class="postshome-item--img">
	    <img ng-src="{{post.img}}">
		</div>
		<div class="postshomefullname">
			<p ng-bind="post.title"></p>
		</div>
		<p class="postshome-item--subtitle" ng-bind="post.date | date"></p>
	</div>

</div>
	<div class="pagination">
		<span ng-click="vm.prevPage()">
			prev
		</span>
		<span ng-repeat="item in vm.pages track by $index" ng-bind="$index + 1" ng-click="vm.openPage($index)" ng-class="{'active': vm.currentPage == $index}">
			
		</span>
		<span ng-click="vm.nextPage()">
			next
		</span>
	</div>
