<div class="modalSettings">
    <div class="modalSettings-wrapper">
        <div class="Settings-imgcross" bgcolor="red" >
            <div class="Settings-imgcrossplace">
                <img src="images/cancel.png" ng-click="$hide()">
            </div>
        </div>
        <div class="Settings-place">
            <p> SETTINGS</p>
        </div>
        <div class="allSettings">
            <div class="changeAvaSettings">
    		        <span class="PlaceImgSett">
	      		        <img id="settimg" class ="ValidAvaSett" ng-src="{{vm.user.img}}">
    		        </span>
    				<input id="file" class="inputAvasett" type="file" file-model="vm.file" >
    		 </div>
            <div>
                <input type="text" ng-model="vm.user.name" placeholder="name" />
            </div>
            <div>
                <input type="text" ng-model="vm.user.surname" placeholder="surname" />
            </div>
            <div>
                <input type="text" ng-model="vm.user.email" placeholder="mail" />
            </div>
            <div class="change-gender">
                <input type="radio" name="poll" id="poll" value="male" ng-model="vm.user.gender"><span>Male</span>
        		<input type="radio" name="poll" id="poll" value="female" ng-model="vm.user.gender"><span>Female</span>
            </div>
        	<div>
         	    <input type="text" ng-model="vm.user.password" placeholder="password"/>
        	</div>
        	<div>
        		<input type="submit" value="CHANGE" ng-click="vm.changedata() ; $hide()"/>
            </div>
        </div>
    </div>
</div>