<div class="modalSettings">
    <div class="modalSettings-wrapper">
        <div class="Settings-imgcross" bgcolor="red" >
            <div class="Settings-imgcrossplace">
                <img src="images/cancel.png" ng-click="$hide()">
            </div>
        </div>
        <div class="Settings-place">
            <p> SETTINGS</p>
        </div>
        <div class="allSettings">
            <div class ="form-filed">
    		        <!--<span class="autoava">-->
	      		     <!--   <img class ="form-filedimg" ng-src="{{vm.fakeAva}}">-->
    		        <!--</span>-->
    				<input class="input-file" type="file" file-model="vm.file" >
    		 </div>
            <div>
                <input type="text" ng-model="vm.newuserdata.name" placeholder="name" />
            </div>
            <div>
                <input type="text" ng-model="vm.newuserdata.surname" placeholder="surname" />
            </div>
            <div>
                <input type="text" ng-model="vm.newuserdata.email" placeholder="mail" />
            </div>
            <div class="change-gender">
                <input type="radio" name="poll" id="poll" value="male" ng-model="vm.newuserdata.gender"><span>Male</span>
        		<input type="radio" name="poll" id="poll" value="female" ng-model="vm.newuserdata.gender"><span>Female</span>
            </div>
        	<div>
         	    <input type="text" ng-model="vm.newuserdata.password" placeholder="password"/>
        	</div>
        	<div>
        		<input type="submit" value="CHANGE" ng-click="vm.changedata() ; $hide()"/>
            </div>
        </div>
    </div>
</div>