<div class="modalsign">
    <div class="modalsign-wrapper">
        <div class="sign-imgcross" bgcolor="red" >
            <div class="log-imgcrossplace">
                <img src="images/cancel.png" ng-click="$hide()">
            </div>
        </div>
        <div class="sign-place">
            <p> Log in</p>
        </div>
        <div class="user-img">
            <span class="user-ava">
  		        <img class ="form-fileduserimg" ng-src="{{vm.fakeava}}">
	        </span>
			<input class="user-input-file" type="file" ng-model="myfileuser">
        </div>
        <div class="allsign">
            <div >
                <input type="text" ng-model="vm.user.name" placeholder="name" />
            </div>
            <div >
                <input type="text" ng-model="vm.user.surname" placeholder="surname" />
            </div>
            <div >
                <input type="text" ng-model="vm.user.email" placeholder="mail" />
            </div>
            <div class="sign-gender" >
                <input type="radio" name="poll" id="poll" value="male" ng-model="vm.user.gender"><span>Male</span>
        		<input type="radio" name="poll" id="poll" value="female" ng-model="vm.user.gender"><span>Female</span>
            </div>
        	<div >
         	    <input type="text" ng-model="vm.user.password" placeholder="password"/>
        	</div>
        	<div >
        		<input type="submit" value="ENTER" ng-click="vm.signup() ; $hide()"/>
            </div>
        </div>
    </div>
</div>