<div class="modalsign">
    <div class="modalsign-wrapper">
        <div class="sign-imgcross" bgcolor="red" >
            <div class="log-imgcrossplace">
                <img src="images/cancel.png" ng-click="$hide()">
            </div>
        </div>
        <div class="sign-place">
            <p> Sign up</p>
        </div>
           <div class ="form-filed">
		        <span class="autoava">
      		        <img id="coutAva"class ="form-filedimg" ng-src="{{vm.fakeava}}">
		        </span>
				<input id="img-ava" class="input-file" type="file" file-model="vm.file" >
		 </div>
        <div class="allsign">
            <div >
                <input type="text" ng-model="vm.user.name" placeholder="name" />
            </div>
            <div >
                <input type="text" ng-model="vm.user.surname" placeholder="surname" />
            </div>
            <div >
                <input type="text" ng-model="vm.user.email" placeholder="mail" />
            </div>
            <div class="sign-gender" >
                <input type="radio" name="poll" id="poll" value="male" ng-model="vm.user.gender"><span>Male</span>
        		<input type="radio" name="poll" id="poll" value="female" ng-model="vm.user.gender"><span>Female</span>
            </div>
        	<div >
         	    <input type="text" ng-model="vm.user.password" placeholder="password"/>
        	</div>
        	<div >
        		<input type="submit" value="ENTER" ng-click="vm.signup() ; $hide()"/>
            </div>
        </div>
    </div>
</div>