<div class="myuserpage">
    <div class="info-user--img">
        <div class="user-ramm">
            <img src="images/ramm2.png">
        </div>
        <div class="info-user-img">
            <img  ng-src="images/autoava">
        </div>
    </div>
    <div class="user-data">
        <div>NAME:
        <p ng-bind="vm.user.name"></p>
        </div>
        <div>SURNAME:
        <p ng-bind="vm.user.surname"></p>
        </div>
        <!--<p ng-bind="vm.user.age"></p>-->
        <div>GENDER:
        <p ng-bind="vm.user.gender"></p>
        </div>
        <div>EMAIL:
        <p ng-bind="vm.user.email"></p>
        </div>
        <!--<p ng-bind="vm.user.data"></p>-->
    </div>
</div>