.modalcor{
    position: fixed; 
    width: 100%;
    height:100vh;
    background: rgba( 0,0,0,0.6);
    top:0;
    left:0;
    display:flex!important; /*библиотека модала мешает поэтому ставим приоритет*/
    justify-content:center;
    align-items: center;
}
.modalcor-wrapper{
    border-radius: 9px;
    width:400px;
    height:400px;
    background-image: url(../../images/forsmall.jpg);;
}
.imgcancel{
    width:100%;
    height:20px;
    right:0;
    display:flex;
    justify-content: flex-end;
}
.imgcancelplace{
    width:18px;
    height:18px;
}
.imgcancel img{
    width:100%;
    height:100%;
}
.imgcancelplace :hover{
    background:#0077b7;
    border-radius: 9px;
}

