.modalSettings{
    position: fixed; 
    width: 100%;
    height:100vh;
    background: rgba( 0,0,0,0.6);
    top:0;
    left:0;
    display:flex!important; /*библиотека модала мешает поэтому ставим приоритет*/
    justify-content:center;
    align-items: center;}
.modalSettings-wrapper{
    background-image: url(../../images/forsmall.jpg);
    border-radius: 9px;
    width:400px;
    height:445px;}
.Settings-imgcross{
    width:100%;
    height:20px;
    right:0;
    display:flex;
    justify-content: flex-end;}
.Settings-imgcrossplace{
    width:18px;
    height:18px;
    border-radius: 9px;}
.Settings-imgcross img{
    width:100%;
    height:100%;}
.Settings-imgcrossplace :hover{
    background:#0077b7;
    border-radius: 9px;}
.Settings-place{
    height:30px;
    width:100%;
    display: flex;
    justify-content:center;
    align-items:center;}
.Settings-place p{
    font-size: 25px;}
.allSettings{
    width: 100%;
    height: 350px;}
.allSettings div{
    width:100%;
    height:50px;
    display: flex;
    justify-content:center;
    align-items:center;}
.allSettings input{
    width: 50%;
    height: 30px;
    font-size: x-large;
    border-radius: 5px;
    border: 2px solid rgb(155, 224, 103);}
.change-gender span{
    padding: 0px 9px;}
.change-gender input{
    width: 20px !important;
    height: 20px !important;}
.changeAvaSettings{
    width: 100% !important;
    height: 95px !important;}
.PlaceImgSett{
    width: 95px;
    height: 95px;}
.ValidAvaSett{
    width: 95px;
    height: 95px;
    z-index:2;
    border-radius: 18px;
    position:absolute;}
.inputAvasett{
    width: 95px !important;
    height: 95px !important;
    z-index:3;
    opacity: 0;
    position:absolute;}

